<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<script src="/javascripts/jquery.js" ></script>
	<script src="/javascripts/IUI.js" ></script>
  
	<%- htmlData %>
  
  </body>
</html>
