.i-ui-widget{
	border: 1px solid #d0d0d0;
}

.i-ui-input:focus {
	outline-color: lightblue;
}

.i-ui-spinner-down:hover {
    background: linear-gradient(#c0c0c0,#e9e9e9);
}

.i-ui-spinner-up:hover , .i-ui-dropbutton-container:hover{
    background: linear-gradient(#e9e9e9,#c0c0c0);
}	
.i-ui-spinner:active, .i-ui-dropbutton-container:active{
	background: #d0d0d0;
}
.i-ui-formlabel {
	border: none;
}

.i-ui-input, .i-ui-radio{
    border: none;
}

.i-ui-spinner-container, .i-ui-dropbutton-container {
    border-left: 1px solid #d0d0d0;
	background: #e9e9e9;	
}
.i-ui-button{
	background-color:#e0e0e0;
	box-shadow: 1px 1px 1px #d0d0d0;
}
.i-ui-button.i-ui-active{
	background-color: #c0c0c0;	
}
.i-ui-button:hover{
	background-color: #d0d0d0;
}
.i-ui-button:active{
	background-color: #e0e0e0;
}

.i-ui-overlay {
    outline: 1px solid #d0d0d0;
	background-color: white;
}
.i-ui-list-item:hover {
    background-color: #e0e0e0;
}

.i-ui-list-item:active {
    background-color: #c0c0c0;
}
.i-ui-dropdown .i-ui-display {
    background-color: #e9e9e9;
}
.i-ui-dropdown .i-ui-dropbutton-container{
	border-color: transparent;
}

.i-ui-dropdown .i-ui-dropbutton-container:hover{
	border-color: #d0d0d0;
}
.i-ui-invalid.i-ui-dropdown,
.i-ui-invalid.i-ui-inputbox,
.i-ui-invalid.i-ui-numericinputbox,
.i-ui-invalid.i-ui-combobox{
	outline: 1px solid red;
}

.i-ui-switch-button {
    background-color: #e9e9e9;	
}
.i-ui-switch {
    background-color: white;
}
.i-ui-switch-active{
	background-color: #e9e9e9;	
}
.i-ui-switch-active .i-ui-switch-button{	
    left: calc(100% - 1.75em);
	 background-color: #c0c0c0;	
}